{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue a la page d'acceuil</h1>
	<div class="container">
		<div class="row">
			<div class="col-10">
				{% for row in posts|batch(3) %}
					<div class="row">
						{% for post in row %}

							<div class="col-sm">
								<div class="card my-4" style="width: 18rem;">
									<img src="{{ ( post.imageName != null) ? vich_uploader_asset(post) | imagine_filter('small_thumb') : asset('/images/default/pexels-eberhard-grossgasteiger-844297.jpg') | imagine_filter('small_thumb') }}" alt="{{ post.title }}"/>
									<div class="card-body">
										<h5 class="card-title">{{ post.title}}</h5>
										<p class="card-text">{{ post.description|raw }}</p>
										<a href="{{ path('app_show',{id : post.id }) }}" class="btn btn-primary">Lire l'article</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>

			<div class="col-2">
				<h2>Categories</h2>
				<div class="list-group">
					{% for category in categories %}
						<a href="{{ '' }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>
{% endblock %}
