<div class="row my-5">
	{{ form_start(form) }}
	<div class="col-8 m-auto">
		<div class="row">
			<div class="col">
				{{ form_row(form.title) }}
			</div>
			<div class="col">
				{{ form_row(form.Category) }}
			</div>
		</div>
		<p>
			{{ form_row(form.description) }}
		</p>
		<p>
			{{ form_row(form.imageFile) }}
		</p>
		<p>
			{{ form_row(form.content) }}
		</p>
		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

	</div>
</div>
